body {
    background-color: aliceblue;
    margin: 0px;

    nav {
        margin: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
        width: 100%;

        ul {
            display: flex;
            gap: 70px;
            list-style-type: none;
            align-items: center;
            justify-content: center;
        }
    }

    main {

        .sectionForm {
            background-color: white;
            border: 1px solid rgb(245, 245, 245);
            padding: 15px;
            margin: 50px;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                .row {
                    display: flex;
                    gap: 10px;
                }

                label {
                    font-weight: 900;
                }

                input { 
                    padding-left: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    width: 400px;
                    border: 1px solid rgb(0, 0, 0, 0.1);
                }

                textarea {
                    width: 400px;
                    padding-left: 20px;
                }
            }
        }
    }
}    